.profileContainer{
    
    .profileBody{
        display: flex;
        .profileBodyCenter{
            display: flex;
            flex-direction: column;
            .profileBodyCenterBottom{
                display: flex;
                
            }
        }
    }
}