.feedbodyContainer{
    flex: 6;
    display: flex;
    flex-direction: column;
    .feedTop{
        margin: 20px 30px;
        .feedShareCard{
            background-color: white;
            -webkit-box-shadow: 3px 3px 16px 4px rgba(193,189,186,0.86); 
            box-shadow: 3px 3px 16px 4px rgba(193,189,186,0.86);
            border-radius: 5px;
            height: 200px;
            width: 100%;
            .feedShareCardTop{
                display: flex;
                align-items: center;
                padding: 15px;
                margin: 5px;
                .feedShareProfilePic{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;
                }
                .feedShareInputDiv{
                    border-radius: 50px;
                    // background-color: #6c1fe7;
                    width: 86%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                    .feedShareInput{
                        border: none;
                        margin-left: 13px;
                        width: 95%;
                        height: 40px;
                        font-size: 20px;
                        color: black;
                        background-color: white;

                    }
                    .feedShareInput::placeholder{
                        color: rgba(95, 95, 95, 0.479);
                    }
                    .feedShareInput:focus{
                        outline: none;
                    }
                }
            }
            hr{
                width: 90%;
                margin: auto
            }
            .feedShareCardBottom{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 15px;
                color: black;
                .feedShareBottomItem{
                    display: flex;
                    align-items: center;
                    margin: 10px;
                    .feedShareBottomIcon{
                        margin-right: 5px;
                        font-size: 35px;
                    }
                    .feedShareBottomText{
                        font-size: 20px;
                    }
                }
                .feedShareButton{
                    background-color: green;
                    color: white;
                    height: 70%
                }
            }
        }
    }

    .feedCenter{
        margin: 20px 30px;
        .feedPost{
            background-color: white;
            -webkit-box-shadow: 3px 3px 16px 4px rgba(193,189,186,0.86); 
            box-shadow: 3px 3px 16px 4px rgba(193,189,186,0.86);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            // height: 400px;
            padding: 20px 10px 10px 20px;
            .feedPostTop{
                display: flex;
                align-items: center;
                .feedPostPic{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;
                }
                .feedPostUsername{
                    margin-right: 10px;
                    font-size: 20px;
                    font-weight: 700;
                }
                .feedPostTimeago{
                    font-weight: 300;
                }
            }
            .feedPostCenter{
                .feedPostCenterPic{
                    margin: 20px 20px 20px 0px;
                    width: 98%;
                    max-height: 380px;
                    object-fit: cover;
                }
            }
            .feedPostBottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .feedPostBottomLeft{
                    display: flex;
                    align-items: center;
                    .feedPostFavoriteIcon{
                        font-size: 28px;
                        margin-right: 7px;
                        cursor: pointer;
                    }
                    .feedPostLikes{
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                .feedPostBottomRight{
                    margin-right: 15px;
                    .feedPostComments{
                        font-size: 18px;
                        font-weight: 400;
                        border-bottom: 1px dashed rgb(108, 31, 231);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .feedBottom{

    }
}

